* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 3, 3);
  height: 50vh;
  width: 100%;
}

.main {
  height: 400px;
  width: 400px;
  margin-top: 150px;
  margin-left: 500px;
  text-align: center;
}

input {
  height: 80px;
  width: 80px;
  border-radius: 4px;
  background-color: rgb(57, 167, 57);
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.lable input {
  height: 80px;
  width: 230px;
}

.c {
  margin-left: 3px;
}

.cal-first {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 3px;
}

.cal-second {
  margin: 3px;
}

.cal-third {
  margin: 3px;
}

.cal-fourth {
  margin: 3px;
}

.cal-fifth {
  margin: 3px;
}

.empty {
  height: 80px;
  width: 250px;
  background-color: white;
  margin-right: 3px;
}

